<div class="infoBar d-flex justify-content-center p-2">
  <b>Spring Into Savings <a href="#" class="text-white">Up to 35% off Fire Pit Accessories</a></b>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white m-2 border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/SoloStoveLogo.png" alt="SoloStoveLogo" height="25px" width="180px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/firepits">Fire Pits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Pizza Oven</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Grill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Camp Stoves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Corporate Sales</a>
        </li>
      </ul>

      <div class="search">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control rounded-pill shadow " placeholder="Search FirePits, Grills, Camp Stoves">
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <i class="bi bi-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="bi bi-person"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="bi bi-fire"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="bi bi-cart"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

