<div class="d-flex justify-content-center">
  <h1>Your Cart[4 Items]</h1>
</div>

<div class="m-5 p-5 table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <div class="d-flex justify-content-start">Item</div>
      </th>
      <th scope="col">
        <div class="d-flex justify-content-start">Price</div>
      </th>
      <th scope="col">
        <div class="d-flex justify-content-center">Quantity</div>
      </th>
      <th scope="col" class="d-flex justify-content-end">
        <div class="d-flex justify-content-end">Total</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-centre flex-column flex-md-row">
          <img class="img-responsive" src="../../assets/Pi-Pizza-Oven-1-1.webp" alt="" width="150px" height="150px">
          <div class="ps-2">
            <h3>Pi Pizza Oven</h3>
            <h3 class="Orangetext">(Estimated ship Date) : June 6th</h3>
            <p>Fuel Source: Wood Only</p>
            <p class="text-danger">Change</p>
          </div>
        </div>
      </td>
      <td class="align-middle">
        $469.99
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-center">
          <p class="minus px-2"><b>-</b></p>
          <p class="quantity px-4"><b>1</b></p>
          <p class="plus px-2"><b>+</b></p>
        </div>
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-end">
          <p><b>$469.99</b></p>
          <!-- <button type="button" class="close closebtn" aria-label="Close">x
          </button> -->
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-centre flex-column flex-md-row">
          <img class="img-responsive" src="../../assets/grillUltimateBundle.avif" alt="" width="150px" height="150px">
          <div class="itemDesc">
            <p><b>Solo Stove</b></p>
            <h3>Grill Ultimate Bundle</h3>
            <small class="border border-danger text-danger px-2 rounded-1">Add accident protection for $29.99</small>
          </div>
        </div>
      </td>
      <td class="align-middle">
          $549.99
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-center">
          <p class="minus px-2"><b>-</b></p>
          <p class="quantity px-4"><b>1</b></p>
          <p class="plus px-2"><b>+</b></p>
        </div>
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-end">
          <p><b>$549.99</b></p>
          <!-- <button type="button" class="close closebtn" aria-label="Close">x
          </button> -->
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-centre flex-column flex-md-row">
          <img class="img-responsive" src="../../assets/starters.jpg" alt="" width="150px" height="150px">
          <div class="itemDesc">
            <p><b>Solo Stove</b></p>
            <h3>Starters</h3>
            <h3 class="text-danger">(4 Pack)</h3>
          </div>
        </div>
      </td>
      <td class="align-middle">
          $0.00
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-center">
          <p class="quantity px-4 greyText"><b>1</b></p>
        </div>
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-end">
          <p><b>$0.00</b></p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-centre flex-column flex-md-row">
          <img class="img-responsive" src="../../assets/grillpack.avif" alt="" width="150px" height="150px">
          <div class="itemDesc">
            <p><b>Solo Stove</b></p>
            <h3>Charcoal Grill Pack</h3>
          </div>
        </div>
      </td>
      <td class="align-middle">
          $0.00
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-center">
          <p class="quantity px-4 greyText"><b>1</b></p>
        </div>
      </td>
      <td class="align-middle">
        <div class="d-flex justify-content-end">
          <p><b>$0.00</b></p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div class="m-5 p-5 table-responsive">
<table class="table d-flex justify-content-end p-2 pe-0 ">
  <tbody>
    <tr>
      <th class="rowWidth"></th>
      <th></th>
    </tr>
    <tr class="rowWidth">
      <td class="pr-5"><b>Subtotal:</b></td>
      <td>
        <div class="d-flex justify-content-end">
          $1,019.98
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Sales Tax:</b></td>
      <td>
        <div class="d-flex justify-content-end">
          $102.00
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Coupon Code:</b></td>
      <td>
        <div class="d-flex justify-content-end">
          <a href="#">Add Coupon</a>
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Grand Total:</b></td>
      <td>
        <div class="d-flex justify-content-end">
        <h2>$1,121.98</h2>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end pb-4">
  <div class="freeShippingWidth freeShippingDiv">
      <div class="d-flex justify-content-between align-items-centre flex-column flex-md-row">
        <small class="d-flex justify-content-start">Congrats, You're eligible for <b>Free Shipping</b></small>
        <i class="bi bi-truck d-flex justify-content-start"></i>
      </div>
</div>
</div>
<div class="d-flex justify-content-end">
  <button class="btn checkout">Check Out</button>
</div>
</div>

